.home-page {
  padding: 70px 10% 40px;
  width: 100%;

  background-color: rgb(204, 195, 211);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}
