nav {
  position: fixed;
  top: 0;

  background-color: whitesmoke;
  width: 100%;
  height: 52px;

  padding-top: 5px;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  z-index: 10;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;

  padding: 0 10%;
}

ul li:first-child {
  margin-right: 20px;
}

li img {
  height: 30px;
  width: auto;
}

li:not(:first-child) {
  margin-bottom: -8px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

nav a.btn:link,
nav a.btn:visited {
  background-color: rgb(167, 16, 167);
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  transition: all 0.2s;
}

nav a.btn:hover {
  background-color: rgb(180, 93, 180);

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
nav a.btn:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
}
