.new-post {
  padding: 70px 20% 40px;

  display: flex;
  flex-direction: column;
}

.new-post input,
.new-post textarea {
  outline: none;

  border: 1px solid rgb(206, 206, 206);
  border-radius: 3px;

  padding: 10px 8px;
  margin-bottom: 15px;
}

.new-post textarea::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
}

.new-post label {
  margin-bottom: 3px;
}

.new-post button {
  width: 200px;

  background-color: rgb(167, 16, 167);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;

  outline: none;

  font-size: 1.2em;
  color: white;

  align-self: center;
  transition: all 0.2s;
}

.new-post button:hover {
  cursor: pointer;
  background-color: rgb(180, 93, 180);

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.new-post button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0);
}
